{% extends 'layouts/main.html' %}
{% block title %} Sensors{% endblock %}
{% block content %}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="node1-tab" data-toggle="tab" href="#sensor1" role="tab" area-controls="sensor1" area-selected="true">Node 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="node2-tab" data-toggle="tab" href="#sensor2" role="tab" area-controls="sensor2" area-selected="false">Node 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="bmc-tab" data-toggle="tab" href="#bmc" role="tab" area-controls="bmc" area-selected="false">BMC</a>
    </li>
</ul>
<div class="tab-content" id="nodeTabContent">
    <div id="sensor1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="node1-tab">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
    {% for item in sensor_node1 %}
            <tr>
                <th scope="row">{{ item.index }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="sensor2" class="tab-pane fade" role="tabpanel" aria-labelledby="node2-tab">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
    {% for item in sensor_node2 %}
            <tr>
                <th scope="row">{{ item.index }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="bmc" class="tab-pane fade" role="tabpanel" aria-labelledby="bmc-tab">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
    {% for item in sensor_bmc %}
            <tr>
                <th scope="row">{{ item.index }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
</div>


{% endblock %}
