{% extends 'layouts/main.html' %}
{% block title %} Power Control {% endblock %}
{% block content %}

<div class="card">
  <div class="card-header"><h5 class='mb-0'>Current Power Status</h5>
  </div>
  <span class="badge badge-secondary"> NODE1: {{ status1 }} </span>
  <span class="badge badge-secondary"> NODE2: {{ status2 }} </span>
<div class="card-body">
<div class="btn-groups">
  <form action="" method=post>
    <input type="submit" name=power class="btn btn-primary" value="Power On"></input>
    <input type="submit" name=power class="btn btn-info" value="Power Off"></input>
    <input type="submit" name=power class="btn btn-danger" value="Power Force Off"></input>
    <input type="submit" name=power class="btn" value="Page Refresh"></input>
  </form>
</div>
</div>
</div>

{% endblock %}
