{% extends 'layouts/main.html' %}
{% block title %} Temperatur Monitor {% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/libs/jquery.canvasjs.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var limit = 100;
        var x = 0, y = 0;
        var dataBMC = [];
        var dataNODE1 = [];
        var dataSeries = { type: "line" };
        var dataPointsBMC = [];
        var dataPointsNODE1 = [];
        var chartBMC = new CanvasJS.Chart("chartContainerBMC", {
            title : {
                text: "Temperature Monitor (BMC)"
            },
            axisY: {
                includeZero: false
            },
            animationEnabled: true,
            data: [{
                type: "line",
                markerSize: 0,
                dataPoints: dataPointsBMC
            }]
        });
        var chartNODE1 = new CanvasJS.Chart("chartContainerNODE1", {
            title : {
                text: "Temperature Monitor (NODE1)"
            },
            axisY: {
                includeZero: false
            },
            animationEnabled: true,
            data: [{
                type: "line",
                markerSize: 0,
                dataPoints: dataPointsNODE1
            }]
        });
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/mon');
        //var socket = new WebSocket("ws://" + document.localtion.host + "/ws");
        //socket.onopen = function(){
        //    console.log("connected");
        //};
        socket.on('connect', function() {
            console.log("connected");
            //dataSeries.dataPoints = dataPoints;
            //data.push(dataSeries);
        });
        socket.on('data', function(msg) {
            console.log('data: ' + x + ' ' + msg.tempBMC + msg.tempNODE1);
            dataPointsBMC.push({x:x, y:msg.tempBMC});
            dataPointsNODE1.push({x:x, y:msg.tempNODE1});
            x++;
            updateChart();
        });

        var sendMessage = function(message){
            console.log("sending: " + message.data);
            socket.emit('request', message);
        };

        var updateChart = function () {
            if (dataPointsBMC.length > 100)
            {
                dataPointsBMC.shift();
            }
            if (dataPointsNODE1.length > 100)
            {
                dataPointsNODE1.shift();
            }
            chartBMC.render();
            chartNODE1.render();
        }

        //updateChart();

        //setInterval(function(){sendMessage("")}, 5000);

    });
</script>

<div id="chartContainerBMC" style="height: 300px; width: 100%;"></div><br>
<div id="chartContainerNODE1" style="height: 300px; width: 100%;"></div>

{% endblock %}
